@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background-color: black;
	height: 100%;
}

li > button {
	font-family: 'Press Start 2P', sans-serif;
}

h2 {
	font-family: 'Press Start 2P', sans-serif;
}
