@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	background-color: black;
	height: 100%;
}

li>button {
	font-family: 'Press Start 2P', sans-serif;
}

p,
h1,
h2,
h3,
li,
h4 {
	font-family: 'Press Start 2P', sans-serif;
}